# General
node_modules
*.min.*
*.pdf
*.otf
*.jpg
*.gif
*.png
LICENSE
public
.netlify
.husky
.next
netlify.toml
*.lock

# Project specific
dist
out
out_publish
out_functions

# Misc
.editorconfig
.prettierignore
.eslintignore
.browserslistrc
.gitignore
.lintstagedrc
