button {
	width: auto;
	text-align: center;
	padding: 0.5rem 1rem;
	display: block;
	position: relative;
	border-radius: 0.1rem;
	transition: padding var(--transition-speed) var(--transition-timing);
	background: transparent;
	border: none;
	cursor: pointer;

	&::before {
		content: "";
		z-index: 0;
		background: var(--secondary);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 0 0 1px var(--secondary);
		border-radius: 0.1rem;
		transition: transform var(--transition-speed) var(--transition-timing);
	}

	&::after {
		content: "";
		z-index: 1;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 0 0 1px var(--secondary);
		border-radius: 0.1rem;
		transition: transform var(--transition-speed) var(--transition-timing);
	}

	> span {
		font-family: var(--font-tertiary);
		color: var(--on-secondary);
		display: inherit;
		position: relative;
		z-index: 1;
		transition: transform var(--transition-speed) var(--transition-timing);
		font-size: 1rem;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		&::before {
			transform: translate(0.25rem, -0.25rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&::after {
			z-index: -1;
		}

		> span {
			transform: translate(0.25rem, -0.25rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}
	}

	&:active {
		&::before {
			transform: translate(0, 0);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		> span {
			transform: translate(0, 0);
			transition: transform var(--transition-speed) var(--transition-timing);
		}
	}

	&.elevated {
		> span {
			transform: translate(0.5rem, -0.5rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&::before {
			transform: translate(0.5rem, -0.5rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&:hover {
			&::before {
				transform: translate(0.25rem, -0.25rem);
				transition: transform var(--transition-speed) var(--transition-timing);
			}

			&::after {
				z-index: -1;
			}

			> span {
				transform: translate(0.25rem, -0.25rem);
				transition: transform var(--transition-speed) var(--transition-timing);
			}
		}

		&:active {
			&::before {
				transform: translate(0, 0);
				transition: transform var(--transition-speed) var(--transition-timing);
			}

			> span {
				transform: translate(0, 0);
				transition: transform var(--transition-speed) var(--transition-timing);
			}
		}
	}
}
