.logo {
	--color: #03aaf9;
	--transition-timing: cubic-bezier(0.37, 0, 0.63, 1);
	position: relative;
	z-index: 1;
	width: calc(var(--size) * 250px);
	height: calc(var(--size) * 100px);
	font-size: calc(var(--size) * 60px);
	line-height: calc(var(--size) * 100px);
	text-align: center;
	top: calc(var(--size) * -3px);
	left: calc(var(--size) * 3px);
	color: var(--color);
	font-weight: 900;
	transition: all var(--transition-speed) var(--transition-timing);
	user-select: none;
	-webkit-user-drag: none;

	&::after {
		content: "M\00e6xal";
		position: absolute;
		color: transparent !important;
		-webkit-text-stroke: calc(var(--size) * 0.2px) var(--color);
		font-weight: bold;
		top: calc(var(--size) * 3px);
		left: calc(var(--size) * -3px);
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: top var(--transition-speed) var(--transition-timing),
			left var(--transition-speed) var(--transition-timing);
	}

	&:hover {
		top: calc(var(--size) * -6px);
		left: calc(var(--size) * 6px);

		&::after {
			top: calc(var(--size) * 6px);
			left: calc(var(--size) * -6px);
		}
	}

	&:active {
		top: calc(var(--size) * -0px);
		left: calc(var(--size) * 0px);

		&::after {
			top: calc(var(--size) * 0px);
			left: calc(var(--size) * -0px);
		}
	}
}
