.link {
	@apply cursor-pointer underline outline-none rounded;

	&:focus {
		@apply outline-none;
	}

	&:focus-visible {
		@apply ring;
	}

	&.logo-link,
	&.nav-link,
	&.button {
		@apply select-none no-underline;
	}

	&.logo-link {
		@apply inline-flex relative justify-center items-center;
	}

	&.nav-link {
		@apply py-1 px-3 mr-2 duration-150 ease-in-out;

		transition-property: padding;

		&::before,
		&::after {
			@apply opacity-50 text-sm transition-all duration-150 ease-in-out;
		}

		&::before {
			content: "<";
		}
		&::after {
			content: "/>";
		}

		&:hover {
			@apply px-1;

			&::before {
				@apply mr-2;
			}
			&::after {
				@apply ml-2;
			}
		}

		&:active {
			@apply px-2;

			&::before {
				@apply mr-1;
			}
			&::after {
				@apply ml-1;
			}
		}
	}

	&.button {
		@apply inline-block relative w-auto text-center text-white border-none bg-transparent py-1 px-3 font-mono;

		--color: theme("colors.orange.DEFAULT");

		&[data-margin="true"] {
			@apply m-2;
		}

		&[data-color="orange"] {
			--color: theme("colors.orange.DEFAULT");
		}

		&[data-color="blue"] {
			--color: theme("colors.blue.DEFAULT");
		}

		&::before,
		&::after {
			@apply absolute w-full h-full inset-0 rounded-sm transform-gpu duration-150 ease-in-out shadow;

			content: "";
			--tw-shadow: 0 0 0 1px var(--color);
		}

		&::before {
			z-index: 0;
			background: var(--color);
		}

		&::after {
			z-index: 1;
		}

		> span.content {
			@apply block text-white relative text-base transform-gpu duration-150 ease-in-out font-mono;

			z-index: 1;
		}

		&:hover {
			&::before {
				@apply translate-x-1 -translate-y-1;
			}

			&::after {
				z-index: -1;
			}

			> span.content {
				@apply translate-x-1 -translate-y-1;
			}
		}

		&:active {
			&::before {
				@apply translate-x-0 translate-y-0;
			}

			> span.content {
				@apply translate-x-0 translate-y-0;
			}
		}

		&[data-elevation="hovering"] {
			> span.content {
				@apply translate-x-1 -translate-y-1;
			}

			&::before {
				@apply translate-x-1 -translate-y-1;
			}

			&:hover {
				&::before {
					@apply translate-x-2 -translate-y-2;
				}

				&::after {
					z-index: -1;
				}

				> span.content {
					@apply translate-x-2 -translate-y-2;
				}
			}

			&:active {
				&::before {
					@apply translate-x-0 translate-y-0;
				}

				> span.content {
					@apply translate-x-0 translate-y-0;
				}
			}
		}

		&[data-elevation="flying"] {
			> span.content {
				@apply translate-x-2 -translate-y-2;
			}

			&::before {
				@apply translate-x-2 -translate-y-2;
			}

			&:hover {
				&::before {
					@apply translate-x-1 -translate-y-1;
				}

				&::after {
					z-index: -1;
				}

				> span.content {
					@apply translate-x-1 -translate-y-1;
				}
			}

			&:active {
				&::before {
					@apply translate-x-0 translate-y-0;
				}

				> span.content {
					@apply translate-x-0 translate-y-0;
				}
			}
		}
	}
}
