.logo {
	@apply relative select-none;

	--logo-width: 375px;
	--logo-height: 95px;
	--logo-interactive-jump: 3px;
	--size: 1;

	&.size-30 {
		--size: 0.3;
	}
	&.size-40 {
		--size: 0.4;
	}
	&.size-50 {
		--size: 0.5;
	}
	&.size-60 {
		--size: 0.6;
	}
	&.size-80 {
		--size: 0.8;
	}
	&.size-100 {
		--size: 1;
	}
	&.size-150 {
		--size: 1.5;
	}
	&.size-200 {
		--size: 2;
	}

	&.logo-interactive {
		@apply text-transparent;

		--width: calc(var(--logo-width) * var(--size));
		--height: calc(var(--logo-height) * var(--size));
		--jump: calc(var(--logo-interactive-jump) * var(--size));
		--pos-0: translate(calc(var(--jump) * -1), calc(var(--jump) * 1));
		--pos-1: translate(calc(var(--jump) * 1), calc(var(--jump) * -1));
		--pos-2: translate(calc(var(--jump) * 3), calc(var(--jump) * -3));

		font-size: 0px;
		width: var(--width);
		height: var(--height);

		&::before,
		&::after {
			@apply absolute top-0 left-0 bg-no-repeat bg-center;

			content: "";
			height: var(--height);
			width: var(--width);
			background-size: var(--width) var(--height);
		}

		&::before {
			background-image: url("/assets/vectors/logo-outline-only-blue.svg");
			z-index: -2;
			transform: var(--pos-0);
		}

		&::after {
			@apply transition-transform duration-150 ease-in-out;

			background-image: url("/assets/vectors/logo-filled-only-blue.svg");
			z-index: -1;
			transform: var(--pos-1);
			will-change: transform;
		}

		&:hover {
			&::after {
				transform: var(--pos-2);
			}
		}

		&:active,
		&:focus {
			&::after {
				transform: var(--pos-0);
			}
		}
	}

	&.logo-color {
		@apply text-blue text-center font-bold font-serif;

		font-size: calc(3.8rem * var(--size));
	}
}
