.logo {
	--logo-width: 375px;
	--logo-height: 95px;
	--logo-interactive-jump: 3px;
	--size: 1;

	&.size-50 {
		--size: 0.5;
	}
	&.size-60 {
		--size: 0.6;
	}
	&.size-80 {
		--size: 0.8;
	}
	&.size-100 {
		--size: 1;
	}
	&.size-150 {
		--size: 1.5;
	}
	&.size-200 {
		--size: 2;
	}

	position: relative;

	&.logo-interactive {
		--width: calc(var(--logo-width) * var(--size));
		--height: calc(var(--logo-height) * var(--size));
		--jump: calc(var(--logo-interactive-jump) * var(--size));
		--pos-0: translate(calc(var(--jump) * -1), calc(var(--jump) * 1));
		--pos-1: translate(calc(var(--jump) * 1), calc(var(--jump) * -1));
		--pos-2: translate(calc(var(--jump) * 3), calc(var(--jump) * -3));

		color: transparent;
		user-select: none;
		font-size: 0px;
		width: var(--width);
		height: var(--height);

		&::before,
		&::after {
			content: "";
			height: var(--height);
			width: var(--width);
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: var(--width) var(--height);
		}

		&::before {
			background-image: url("/assets/vectors/logo-outline-only-blue.svg");
			z-index: -2;
			transform: var(--pos-0);
		}

		&::after {
			background-image: url("/assets/vectors/logo-filled-only-blue.svg");
			z-index: -1;
			transform: var(--pos-1);
			will-change: transform;
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&:hover {
			&::after {
				transform: var(--pos-2);
			}
		}

		&:active,
		&:focus {
			&::after {
				transform: var(--pos-0);
			}
		}
	}

	&.logo-color {
		color: var(--blue);
		text-align: center;
		font-weight: bold;
		font-family: var(--font-primary);
		font-size: calc(3.8rem * var(--size));
	}
}

.old-logo {
	&.top-logo {
		--size: 1.5;
	}

	--color: var(--blue);
	--transition-timing: cubic-bezier(0.37, 0, 0.63, 1);
	position: relative;
	z-index: 1;
	width: calc(var(--size) * 250px);
	height: calc(var(--size) * 100px);
	font-size: calc(var(--size) * 60px);
	line-height: calc(var(--size) * 100px);
	text-align: center;
	top: calc(var(--size) * -3px);
	left: calc(var(--size) * 3px);
	color: var(--color);
	font-weight: 900;
	transition: all var(--transition-speed) var(--transition-timing);
	user-select: none;
	-webkit-user-drag: none;

	&::after {
		content: "M\00e6xal";
		position: absolute;
		color: transparent !important;
		-webkit-text-stroke: calc(var(--size) * 0.25px) var(--color);
		font-weight: bold;
		top: calc(var(--size) * 3px);
		left: calc(var(--size) * -3px);
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: top var(--transition-speed) var(--transition-timing),
			left var(--transition-speed) var(--transition-timing);
	}

	&:hover {
		top: calc(var(--size) * -6px);
		left: calc(var(--size) * 6px);

		&::after {
			top: calc(var(--size) * 6px);
			left: calc(var(--size) * -6px);
		}
	}

	&:active {
		top: calc(var(--size) * -0px);
		left: calc(var(--size) * 0px);

		&::after {
			top: calc(var(--size) * 0px);
			left: calc(var(--size) * -0px);
		}
	}
}
