.banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

main {
	min-width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		margin: 1rem 0;
		font-size: 1rem;
	}

	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 3rem;
}

button.cool-one {
	width: auto;
	text-align: center;
	padding: 0.5rem 1rem;
	display: block;
	position: relative;
	border-radius: 0.1rem;
	transition: padding var(--transition-speed) var(--transition-timing);
	background: transparent;
	border: none;
	cursor: pointer;

	&::before {
		content: "";
		z-index: 0;
		background: #f95103;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 0 0 1px #f95103;
		border-radius: 0.1rem;
		transition: transform var(--transition-speed) var(--transition-timing);
	}

	&::after {
		content: "";
		z-index: 1;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 0 0 1px #f95103;
		border-radius: 0.1rem;
		transition: transform var(--transition-speed) var(--transition-timing);
	}

	> span {
		color: white;
		display: inherit;
		position: relative;
		z-index: 1;
		transition: transform var(--transition-speed) var(--transition-timing);
		font-size: 1rem;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		&::before {
			transform: translate(0.25rem, -0.25rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&::after {
			z-index: -1;
		}

		> span {
			transform: translate(0.25rem, -0.25rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}
	}

	&:active {
		&::before {
			transform: translate(0, 0);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		> span {
			transform: translate(0, 0);
			transition: transform var(--transition-speed) var(--transition-timing);
		}
	}

	&.elevated {
		> span {
			transform: translate(0.5rem, -0.5rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&::before {
			transform: translate(0.5rem, -0.5rem);
			transition: transform var(--transition-speed) var(--transition-timing);
		}

		&:hover {
			&::before {
				transform: translate(0.25rem, -0.25rem);
				transition: transform var(--transition-speed) var(--transition-timing);
			}

			&::after {
				z-index: -1;
			}

			> span {
				transform: translate(0.25rem, -0.25rem);
				transition: transform var(--transition-speed) var(--transition-timing);
			}
		}

		&:active {
			&::before {
				transform: translate(0, 0);
				transition: transform var(--transition-speed) var(--transition-timing);
			}

			> span {
				transform: translate(0, 0);
				transition: transform var(--transition-speed) var(--transition-timing);
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	transition: opacity var(--transition-speed) var(--transition-timing);

	> div {
		margin: 0 15px 5px;

		> strong {
			margin-right: 5px;
			user-select: none;
		}
	}

	&:not(:hover) {
		opacity: 0.3;
	}
}
@media only screen and (max-width: 850px) {
	footer {
		flex-direction: column;
	}
}
