:root {
	--light-background: #ffffff;
	--dark-background: #121212;
	--background: var(--light-background);

	--light-on-background: #000000;
	--dark-on-background: #ededed;
	--on-background: var(--light-on-background);

	--light-primary: #03aaf9;
	--dark-primary: #03aaf9;
	--primary: var(--light-primary);

	--light-on-primary: #ffffff;
	--dark-on-primary: #ffffff;
	--on-primary: var(--light-on-primary);

	--light-secondary: #f95103;
	--dark-secondary: #f95103;
	--secondary: var(--light-secondary);

	--light-on-secondary: #ffffff;
	--dark-on-secondary: #ffffff;
	--on-secondary: var(--light-on-secondary);

	--font-primary: "Merriweather", serif;
	--font-secondary: "Source Sans Pro", sans-serif;
	--font-tertiary: "Fira Code", monospace;

	--transition-speed: 150ms;
	--transition-timing: ease-in-out;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: var(--light-background);
		--on-background: var(--light-on-background);
		--primary: var(--light-primary);
		--on-primary: var(--light-on-primary);
		--secondary: var(--light-secondary);
		--on-secondary: var(--light-on-secondary);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark-background);
		--on-background: var(--dark-on-background);
		--primary: var(--dark-primary);
		--on-primary: var(--dark-on-primary);
		--secondary: var(--dark-secondary);
		--on-secondary: var(--dark-on-secondary);
	}
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--transition-speed: 0ms;
	}
}

[data-color-scheme="light"] {
	--background: var(--light-background);
	--on-background: var(--light-on-background);
	--primary: var(--light-primary);
	--on-primary: var(--light-on-primary);
	--secondary: var(--light-secondary);
	--on-secondary: var(--light-on-secondary);
}

[data-color-scheme="dark"] {
	--background: var(--dark-background);
	--on-background: var(--dark-on-background);
	--primary: var(--dark-primary);
	--on-primary: var(--dark-on-primary);
	--secondary: var(--dark-secondary);
	--on-secondary: var(--dark-on-secondary);
}

[data-reduced-motion="reduce"] {
	--transition-speed: 0ms;
}
