:root {
	--font-primary: "Merriweather", serif;
	--font-secondary: "Source Sans Pro", sans-serif;
	--font-tertiary: "Fira Code", monospace;

	--transition-speed: 150ms;
	--transition-timing: ease-in-out;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--background);
	color: var(--on-background);
	transition: all var(--transition-speed) var(--transition-timing);
}
p {
	line-height: 1.7em;
}
