section#hero {
	&::after {
		@apply absolute inset-x-0 bottom-0 w-full h-16 bg-gradient-to-b from-transparent to-primary-100 dark:to-primary-900;

		content: '';
	}
}

section#contact {
	scroll-margin-top: 5rem;
}

div.text-page-content {
	&::before,
	&::after {
		@apply absolute inset-y-0 h-full w-16 from-transparent to-primary-100 dark:to-primary-900;

		content: '';
	}

	&::before {
		@apply -left-16 bg-gradient-to-r;
	}

	&::after {
		@apply -right-16 bg-gradient-to-l;
	}
}
