header {
	z-index: 2147483647;
	--transition-timing: cubic-bezier(0.37, 0, 0.63, 1);
	background: none;
	border-bottom: none;
	transition: background var(--transition-speed) var(--transition-timing),
		height var(--transition-speed) var(--transition-timing),
		border-bottom var(--transition-speed) var(--transition-timing);
	--size: 0.6;

	&[data-scrolled] {
		background: var(--gray-100);
		border-bottom: 1px solid var(--gray-200);
		--size: 0.3;
	}
}
